
* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color:#333;
}

ul li {
    list-style: none;
}

body {
    font-size: 12px;
    line-height: 1.2;
    background-color:#fff;
    font-family: "Helvetica Neue",Helvetica,Roboto,Arial,sans-serif;
}

main {
    height: calc(100vh - 50px);
    overflow:scroll;
    -webkit-overflow-scrolling: touch;
}

main > section {
    padding:10px;
    display: none;
}
main > section:first-child {
    display: block;
}


.item {
    border-bottom: 1px solid #ccc;
    padding-bottom:10px;
    padding-top:10px;
}

.item>a {
    display: block;
    display: flex;
}

.item>a .cover, .item>a img {
    width:70px;
}

.item .detail {
    padding-left:10px;
    flex:1;
}

.item .detail h2 {
    font-size: 16px;
}

.item .detail .extra {
    color:#999;
    margin-top:4px;
}

.item .detail .score {
    color:#ff5722;
}

.loading .iconfont {
    display: inline-block;
    font-size: 3em;
    color:lightpink;
    animation: 1s rotate linear infinite;

}

.loading {
    padding:5px;
    text-align: center;
    display: none;
}


section .search-area {
    color: #333;
    padding-bottom: 10px;
    border-bottom: 1px solid #ccc;
    position: relative;
}

section .search-area input {
    width: calc(100% - 50px);
    padding: 8px;
    background-color: #eee;
    border: none;
    border-radius: 2px;
    box-shadow: none;
    outline: none;
}

section .search-area .button {
    position: absolute;
    right: 0;
    padding: 8px 10px;
    background: #FF5722;
    color: #fff;
    border-radius: 2px;
    cursor: pointer;
}

section #us {
    position: relative;
}

/* section #us img {
    width:80px;
    margin: 2px;
    position: absolute;
}  */

/* 添加评分 */
section #us .img-wrap {
    width:80px;
    margin: 2px;
    display: inline-block;
    position: absolute;
}

section #us img {
    width:80px;
}  
section #us .score {
    font-size: .9em;
    font-weight: 300;
    right: 2px;
    bottom: 4px;
    color: white;
    position: absolute;
    background: #ff5722;
    border-radius: 50%;
    opacity: .8;
    padding: 4px;
}

/* 添加收藏 */
section .icon-xihuan {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-70%);
    font-size: 2.1em;
}

section .icon-xihuan.active {
    color:red;
}

section .no-data {
    position: absolute;
    font-size: 1.3em;
    color: grey;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-250%);
}

/* 添加收藏结束 */

section .item .detail {
    position: relative;
}

/* 添加评分 结束*/


@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform:rotate(360deg);
    }
}

footer {
    height: 50px;
    border-top:1px solid #ccc;
    display: flex;
    
}

footer .active {
    color:#ff5722;
}

footer>div {
    flex:1;
    text-align: center;
}

footer>div>span {
    display: block;
    padding-top:5px;
}

/* 
电影详情
*/

#detail {
    background: rgba(0,0,0,0.4);
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    display: none;
}

#detail .movie_detail {
    height: 100%;
    margin: 30px 10px 50px 10px;
    background: white;
}

#detail .card {
    padding:0 15px;
}

#detail .subject {
    display: flex;
}

#detail .left {
    width: calc(100% - 100px);
}

#detail .right {
    width: 100px;
    height: 110px;
    outline: 1px solid red;
}

#detail .channel_tags{
    margin-bottom: 30px
    
}

#detail h2 {
    color: #aaa;
    margin: 0 0 15px;
    font-size: 15px;
}

#detail h1,#detail h2,#detail h3 {
    font-wight:normal;
}



 

#detail h1 {
    padding-top: 20px;
    padding-bottom: 5px;
    font-weight: 400;
    color: rgb(17,17,17);
}

#detail .score {
    color:rgb(73,73,73)
}

#detail .count {
    color:rgb(170,170,170)
}

#detail .meta {
    font-size: 14px;
    color:rgb(73,73,73);
    line-height: 22.4px;
    padding-right: 20px;
    margin-top: 10px;
    margin-bottom: 20px;
    
}

#detail .channel_tag {
    background-color: #effaf0;
    border: 1px solid #42bd56;
    display: inline-block;
    margin-right: 10px;
    font-size: 13px;
    padding: 5px 10px;
    border-radius: 15px;
    margin-bottom: 10px;
}

#detail a {
  color:#42bd56   
}

#detail .bd {
    font-size: 15px;
    color: #494949;
    margin-bottom: 30px;
}

#detail .celebrities ul {
    overflow: auto;
    white-space:nowrap;
}

#detail .celebrities li {
    display: inline-block;
    width: 75px;
    height:100px;
}


#detail .celebrities .poster {
    height:100px;
    outline: 1px solid pink;
    
}

#detail .celebrities .name , #detail .celebrities .role {
    margin-top:8px;
    display: block;
    text-align: center;
}

#detail .close {
    margin:30px 0;
    text-align: center;
}

#detail .close button {
    color: #42bd56;
    background-color: #effaf0;
    border: 1px solid #42bd56;
    font-size: 14px;
    padding: 5px 16px;
    border-radius: 15px;
}





